#disclaimer {
    margin-left: auto;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
}

.rank, .king {
    background-color: #22222280;
    border-radius: 12px;
    padding: 1%;
}

.rank {
    width: 240px;
    max-width: 240px;
}

.gold {
    color: rgb(180, 180, 50);
}

.silver {
    color: rgb(150, 150, 150);
}

.bronze {
    color: rgb(150, 100, 0)
}

.user-rank {
    font-style: italic;
    color: rgba(255, 255, 255, 0.4)
}