.card {
	background-color: #222;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);

  }

  .card a {
	color: #3c97bf;
  }
  
.card h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
  }
  