.list-team-members {
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .list-team-members li {
    flex: 0 1 calc(50% - 40px); 
    margin: 20px;
    text-align: center;
    transition-duration: 0.3s;
  }
  
  .list-team-members li a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #ff7a28;
    transition-duration: 0.3s;
  }
  
  .list-team-members li a:hover {
    transform: scale(1.1, 1.1);
  }
  
  .list-team-members li a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 150px;
    width: 150px;
    background-color: rgba(255, 122, 40, 0.2);
    border-radius: 50%;
    opacity: 0;
    transition-duration: 0.3s;
  }

  .list-team-members li a:hover:after {
    opacity: 1;
  }
  
  .list-team-members li img {
    object-fit: cover;
    object-position: center center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition-duration: 0.3s;
  }
  
  .list-team-members li .member-title {
    display: block;
    margin-bottom: 10px;
  }
  
  .list-team-members li .member-title-hover {
    text-align: center;
    transition-duration: 0.3s;
    padding: 5px 10px;
    background: #ff7a28;
    color: #fff;
    z-index: 2;
  }
  
  .list-team-members li a:hover .member-title-hover {
    opacity: 1;
    top: 90px;
  }
  
  @media screen and (max-width: 768px) {
    .list-team-members li {
      flex: 0 1 calc(50% - 20px); 
    }
  }